## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to find the index of maximum and minimum temperatures

In [7]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

In [9]:
# Store the highest temperature
max_temp= max(temperatures)
print(max_temp)

# Index of the element with the highest temperature

max_temp_index = temperatures.index(max_temp)
print(max_temp_index)

42
4

In [12]:
# Store the lowest temperature 
min_temp = min(temperatures)
print(min_temp)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)
print(min_temp_index)

29
2

# Problem-2

Change the values of dictionary to river names

In [14]:
city = {"Nepal": "Kathmandu", "England": "London"}

In [16]:
city = {"Nepal": "Kathmandu", "England": "London"}

city["Nepal"] = "Bagmati"
city["England"] = "Thames"

print(city)
# Output: {"Nepal": "Bagmati", "England": "Thames"}

{'Nepal': 'Bagmati', 'England': 'Thames'}